:root {
  --primary: white;
  --secondary: #ffc448;
  --light: red;
  --dark: #12141d;
  --glow-color: white;
}

body {
  overflow-x: hidden;
}
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.my-6 {
  margin-top: 6rem;
}

.py-6 {
  padding-left: 45px;
  padding-top: 190px;
}

h1 {
  color: whitesmoke;
}
.typed-text-output {
  color: #6244c5;
}

.navbar-collapse {
  background-color: #000000;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/
.navbar.fixed-top {
  display: flex;
  transition: 0.5s;
  background-color: black;
  height: 100px;
}

.navbar .navbar-nav .nav-link {
  padding: 20px 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    padding: 10px 20;
  }
}

/*** Header ***/
#home {
  background-color: #000000;
}

.typed-cursor {
  font-size: 30px;
  color: white;
}

.img-fluide {
  max-width: 100%;
  height: 100vh;
  margin-left: 0px;
}

/* line */

.copy-box .line {
  position: absolute;
  background-color: #6244c5;
  box-shadow: 0px 0px 12px #6244c5;
  width: 4px;
  height: calc(100% - 20px);
  top: 10px;
  left: 22px;
  border-radius: 50%;
  overflow: hidden;
}
.copy-box.two .line {
  border-radius: 0;
  width: 2px;
}
.copy-box .line .scanner {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 3s ease-in-out infinite;
}

.copy-box.two .line .scanner {
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  height: 50%;
}
@keyframes scanner-loop {
  0% {
    top: 0;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

/*** Testimonial ***/
.testimonial-left,
.testimonial-right {
  position: relative;
}

.testimonial-carousel .owl-dots {
  height: 40px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel span {
  color: white;
}
.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 2px solid var(--secondary);
  border-radius: 30px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 5px;
  left: 5px;
  border-radius: 16px;
  background: #6244c5;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active::after {
  background: var(--primary);
}

.testim .fst-italic {
  color: white;
}

.testim {
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/digital-art-liquid-white-background-artwork-wallpaper.jpg");
}

/*** Service ***/
.service-item {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}

.service-item .service-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  overflow: hidden;
  z-index: -1;
}

.service-item .service-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: cover;
  border-radius: 10px;
}

.service-item .service-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
}

.service-item .service-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  transition: 0.5s ease-out;
  z-index: 2;
}

.service-item:hover .service-img::after {
  width: 0;
  left: auto;
  right: 0;
}
.service-text {
  background-color: #6244c52e;
  box-shadow: 0 0 5px #6244c5;
}

.service-item .service-text .service-icon {
  width: 150px;
  height: 150px;
  /* padding: 15px; */
  margin-top: -70px;
  margin-bottom: 40px;
  background: #ffffff;
  border-radius: 140px;
  overflow: hidden;
  box-shadow: 0 0 60px #6244c5;
}
.service-item .service-text .service-icon img {
  width: 150px;
  height: 150px;
}

.service-item .service-text h5,
.service-item .service-text p {
  transition: 0.5s;
}

.service-item:hover .service-text h5,
.service-item:hover .service-text p {
  color: #ffffff;
}

/*  */

.fh5co-about-me {
  position: relative;
  margin: 100px 0 150px;
}
@media (max-width: 1250px) {
  .fh5co-about-me {
    margin: 150px 0;
  }
}
@media (max-width: 992px) {
  .fh5co-about-me {
    margin: 125px 0;
  }
}

.about-me-bckg {
  position: absolute;
  background-image: url("../img/black-splash-Zea4Dw6-600.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  top: -75px;
  right: 0;
  height: calc(100% + 150px);
  width: 70%;
  z-index: -1;
}
.about-me-single-slide {
  padding: 10px;
  margin: 10px;
}
.about-me-bckg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}
@media (max-width: 992px) {
  .about-me-bckg {
    width: 100%;
    padding-bottom: 15px;
  }
}

.about-me-inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .about-me-inner {
    flex-direction: column;
    align-items: center;
  }
}

.about-me-slider {
  position: relative;
}

.portfolio-wrapper {
  box-shadow: 0 0 44px #6244c5;
  width: 390px;
  text-align: center;
}
.portfolio-wrapper .portfolio__img {
  font-size: 0;
}
.portfolio-wrapper .portfolio__img img {
  width: 100%;
}
.portfolio-wrapper .portfolio__bottom {
  padding: 35px 0 95px;
  background-color: #f5f5f5;
}
@media (max-width: 992px) {
  .portfolio-wrapper .portfolio__bottom {
    padding: 25px 0;
  }
}
.portfolio-wrapper .portfolio__name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 23px;
}
@media (max-width: 992px) {
  .portfolio-wrapper .portfolio__name {
    margin-bottom: 10px;
  }
}
.portfolio-wrapper .portfolio__name span {
  font-size: 90px;
  line-height: 75px;
  color: #c18f59;
  font-family: "Calisto-MT-Bold";
}
@media (max-width: 992px) {
  .portfolio-wrapper .portfolio__name span {
    font-size: 65px;
    line-height: 62px;
  }
}
.portfolio-wrapper p {
  padding: 0 10%;
  line-height: 25px;
  font-style: italic;
  color: #777;
}
@media (max-width: 620px) {
  .portfolio-wrapper p {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 992px) {
  .portfolio-wrapper {
    margin-bottom: 20px;
  }
}
@media (max-width: 620px) {
  .portfolio-wrapper {
    width: 250px;
  }
}

.about-me__text {
  width: 44%;
  margin-right: 80px;
  text-align: center;
}
.about-me__text .universal-h2 {
  color: #6244c5;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.about-me__text p {
  margin-bottom: 35px;
  line-height: 24px;
  color: white;
}
.about-me__text p span {
  font-size: 48px;
  color: #6244c5;
}
@media (max-width: 620px) {
  .about-me__text p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }
}

.about-me__text .p-white {
  margin-bottom: 0;
  color: #fff;
}
@media (max-width: 1250px) {
  .about-me__text {
    width: 48%;
    margin-right: 40px;
  }
}
@media (max-width: 992px) {
  .about-me__text {
    width: 100%;
    margin-right: 0;
  }
}

.about-me-sliders {
  padding: 25px;
  background-color: #00000082;
}

/* contact */
.contacts {
  box-shadow: 0 0 44px #6244c5;
  background-color: #6244c54a;
  padding: 10px;
  padding-left: 30px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
#contact {
  background-color: whitesmoke;
}

/*glowing-btn   */

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;
  margin-left: 25px;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}
.glowing-btne {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
}
.nav-link:hover {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
}

.glowing-txt {
  color: white;
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}

/* Serve */

h1 {
  text-shadow: 0 0 15px red;
  animation: blin 0.5s linear, glowh1 1.5s ease-in-out infinite;
  -webkit-animation: blin 0.5s linear, glowh1 1.5s ease-in-out infinite;
  color: white;
}

@keyframes glowh1 {
  0% {
    text-shadow: 0 0 8px #6244c5;
  }
  50% {
    text-shadow: 0 0 20px #6244c5;
  }
  100% {
    text-shadow: 0 0 8px #6244c5;
  }
}

@-webkit-keyframes glowh1 {
  0% {
    text-shadow: 0 0 8px #6244c5;
  }
  50% {
    text-shadow: 0 0 20px #6244c5;
  }
  100% {
    text-shadow: 0 0 8px #6244c5;
  }
}

@keyframes blin {
  0% {
    transform: translate(-2px, -10px);
  }
  2% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translateY(4px) skew(10deg);
  }
  52% {
    transform: translateY(0px) skew(0deg);
  }
}

@-webkit-keyframes blin {
  0% {
    transform: translate(-2px, -10px);
  }
  2% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translateY(4px) skew(10deg);
  }
  52% {
    transform: translateY(0px) skew(0deg);
  }
  100% {
    transform: translateY(0px) skey(0deg);
  }
}

.serve {
  text-shadow: 0 0 15px red;
  animation: blin1 0.5s linear, glowh2 1.5s ease-in-out infinite;
  -webkit-animation: blin1 0.5s linear, glowh2 1.5s ease-in-out infinite;
  color: #6244c5;
  text-align: center;
}

@keyframes glowh2 {
  0% {
    text-shadow: 0 0 8px #6244c5;
  }
  50% {
    text-shadow: 0 0 20px #6244c5;
  }
  100% {
    text-shadow: 0 0 8px #6244c5;
  }
}

@-webkit-keyframes glowh2 {
  0% {
    text-shadow: 0 0 8px #6244c5;
  }
  50% {
    text-shadow: 0 0 20px #6244c5;
  }
  100% {
    text-shadow: 0 0 8px #6244c5;
  }
}

@keyframes blin1 {
  0% {
    transform: translate(-2px, -10px);
  }
  2% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translateY(4px) skew(10deg);
  }
  52% {
    transform: translateY(0px) skew(0deg);
  }
}

@-webkit-keyframes blin1 {
  0% {
    transform: translate(-2px, -10px);
  }
  2% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translateY(4px) skew(10deg);
  }
  52% {
    transform: translateY(0px) skew(0deg);
  }
  100% {
    transform: translateY(0px) skey(0deg);
  }
}

/* contact */
.ff {
  margin-left: auto;
  margin-right: auto;
  background-color: #6244c521;
  padding: 20px;
  box-shadow: 0 0 45px #6244c5;
  background-size: cover;
}

.row-client {
  justify-content: center;
}

/* footer */

.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 7em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .site-section-heading {
    font-size: 3rem;
  }
}

.footer {
  padding: 4em 0;
  background: black;
}
.footer a:hover {
  padding-left: 10px;
}

@media (min-width: 768px) {
  footer {
    padding: 8em 0;
  }
}

.footer .footer-title {
  color: white;
}

.footer p {
  color: whitesmoke;
}
